@model aspnet_blog_application.ViewModels.PostListViewModel

@{
    ViewData["Title"] = "Browse Reports";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;">
            <div class="card-body">
                <h3 class="card-title">@report.Title</h3>
                <p class="small">Reported At: @report.CreatedAt</p>
                <p class="small">At @report.Location during @report.SpotTime</p>
		<p class="small">Upvotes: @report.Upvotes</p>
		<p class="small">Status: @report.Status</p>
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@report.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
